---
import Layout from '../layouts/Layout.astro';
import Signup from '../components/Signup.astro';

import logo from "./logo.png";
import Gallery from '../components/gallery/Gallery.astro';
import { Image } from 'astro:assets';
---
<Layout title="Velkommen til Thinkamagic">
	<header>
		<div>
		<Image src={logo} alt="Thinkamagic" />
		<div>
		<h1>Make your scientific thinking go magic!</h1>			
		<p>
			Gi idéene dine den innpakningen de fortjener! Vi 
			tilbyr tjenester innen vitenskapelig kommunikasjon. 
			Legg igjen din e-postadresse så tar vi kontakt.
		</p>
	</div>
		</div>
	</header>
	<main>
		<Signup />
		<Gallery />
	</main>
</Layout>

<style>
	header {
		background: rgb(var(--accent));
		color: white;

		& > div {
			margin: auto;
			max-width: 60rem;
			display: flex;
			flex-direction: column;

			@media screen and (min-width: 720px) {
				flex-direction: row;
			}

			color: white;
			align-items: center;
			padding: 1rem 2rem;
			gap: 2rem;

			img {
				display: block;
				flex-grow: 0;
				max-height: 400px;
				height: auto;
				width: auto;
			}

			h1 {
				line-height: 1.5;
				font-size: 2rem;

				@media screen and (min-width: 720px) {
					font-size: 3rem;
				}
			}


			p {
				font-size: 1.5rem;
			}
		}
	}
	
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
</style>
